{{#> layout}}
  {{#*inline "content-pages"}}
    <div>
      <a href="/register">REGISTAR</a>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col">WebSite</th>
            <th scope="col">Experiência profissional</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          {{#each dadosIndex}}
            <tr>
              <th scope="row">{{row}}</th>
              <td>{{name}}</td>
              <td>{{phone}}</td>
              <td>{{email}}</td>
              <td>{{website}}</td>
              <td>{{professionalExperience}}</td>
              <td>
                <button>EDITAR</button>
              </td>
            </tr>
          {{/each}}
          
        </tbody>
      </table>
    </div>
  {{/inline}}
{{/layout}}